body{
    background-color: darkslategray;
    padding: 2%;
}

button{
    background-color: transparent;
}

.bar{
    background-color: greenyellow;
    margin-bottom: 1%;
    font-size: x-large;
}

.container{
    display: flex;
    margin-top: 10%;
}

.leftDisplay{
    width: 75%;
}

.rightDisplay{
    width: 25%;
}

.method{
    background-color: black;
    width: 100%;
    margin-top: 5%;
    border: solid gray;
    color:antiquewhite
}

code{
    font-size: small;
}

.row{
    display: flex;
}
